*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    background-color: #333;
}

.header-wrapper{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-top: 20px;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.title{
   color: white;
}

.header-wrapper{
    display: flex;
}

.outer-gif-area{
    text-align: center;
}
.individual-gif{
    width: 300px;
    height: 300px;
    margin: 15px;
}

.spacer{
    margin-top: 40px;
}

.get-more{
    display: flex;
    justify-content: space-around;
}

.more-pics{
    padding: 10px;
    background-color: black;
    color: white;
    cursor: pointer;
    font-weight: bold;
    border-radius: 5px;
    transition: opacity .15s;
    margin: 15px;
}
.more-pics:hover{
    opacity: .5;
}


.form-wrapper{
    display: flex;
    justify-content: space-around;
}

.box{
    display: flex;
    flex-direction: row;
}

.party-img{
    width: 30px;
    margin: 5px
}

.closed{
    display: none;
}

#input-box, #submit{
    padding: 10px;
    cursor: pointer;
    font-weight: bold;
    border-radius: 5px;
    transition: opacity .15s;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 5px;

}

#submit{
    border-radius: 0px;
    
}